html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  display: block;
  height: auto;
  max-width: 100%; }

main {
  display: block; }

/* sdegfyusgdfiusbgd */
[type=submit] {
  -webkit-appearance: none; }

body {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #151617;
  color: #fff; }

strong {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal; }

.banner {
  width: 100%;
  height: 150px;
  background-image: url("dist/assets/img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center -10px;
  background-size: cover;
  position: relative; }
  @media only screen and (max-height: 600px), (max-width: 479px) {
    .banner {
      height: 60px;
      font-size: 26px;
      line-height: 39px;
      font-size: 1.625rem;
      line-height: 2.4375rem; } }
  .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(21, 22, 23, 0) 0%, rgba(21, 22, 23, 0.75) 85%, #151617 100%); }

h1 {
  font-size: 50px;
  line-height: 75px;
  font-size: 3.125rem;
  line-height: 4.6875rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: 30px;
  left: 15px;
  color: #d31411;
  z-index: 1;
  padding: 0;
  height: 120px;
  text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 4px; }
  @media only screen and (max-height: 600px), (max-width: 479px) {
    h1 {
      font-size: 26px;
      line-height: 39px;
      font-size: 1.625rem;
      line-height: 2.4375rem;
      top: 10px; } }

#search {
  padding-right: 15px;
  padding-left: 15px; }

#filter {
  padding-top: 15px;
  padding-right: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #151617;
  z-index: 1;
  width: 100%; }

.filters-mask {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0; }

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 75px; }

button {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 4px;
  border: none;
  padding: 0.25em 1em;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: #d31411;
  cursor: pointer;
  transition: background-color .1s ease-in, color .15s ease-in;
  border-radius: 2px; }
  button:hover {
    background-color: #c51310;
    color: #fff; }

#go {
  margin: .5em 0 0; }

#drivers {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 93px;
  margin-top: 1rem; }
  #drivers li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #d31411;
    padding: .25em;
    min-width: 150px;
    margin: 1px;
    transition: background-color .2s ease-in;
    cursor: pointer;
    position: relative; }
    #drivers li span {
      font-size: 13px;
      line-height: 19.5px;
      font-size: 0.8125rem;
      line-height: 1.21875rem; }
    #drivers li:hover {
      background-color: #c51310; }
      #drivers li:hover .flag {
        opacity: 0.25; }
  #drivers a {
    color: #fff;
    font-weight: 700; }

.flag {
  transition: opacity .2s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  display: block;
  opacity: 0.15; }

.barq-text-input {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  border: none;
  display: inline-block;
  padding: .25em;
  background-color: transparent;
  color: #d31411;
  outline: none; }

.barq-list {
  list-style-type: none;
  max-height: 400px;
  max-width: 300px;
  font-weight: bold;
  border-top: none;
  position: absolute;
  overflow: auto;
  display: none;
  z-index: 666;
  background-color: #151617;
  border: 1px #fff solid; }

.barq-list li {
  cursor: pointer;
  font-size: 14px;
  padding: .25em .5em;
  color: #fff;
  transition: .05s ease-in; }

.barq-list li:hover {
  color: #d31411; }

.barq-match {
  color: #d31411; }

.barq-visible {
  display: block; }

.barq-hidden {
  display: none; }

.barq-list li:hover,
.barq-active-item {
  background-color: rgba(255, 255, 255, 0.1);
  color: #d31411; }
