body {
    @include font-size(16px);
    @include pt-sans(400);
    background-color: $shark;
    color: $white;
}

strong {
    @include pt-sans(700);
}

.banner {
    width: 100%;
    height: 150px;
    background-image: url('dist/assets/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center -10px;
    background-size: cover;
    position: relative;
    @include bp-small {
        height: 60px;
        @include font-size(26px);
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba($shark, .0) 0%, rgba($shark, .75) 85%, rgba($shark, 1) 100%);
    }
}

h1 {
    @include font-size(50px);
    @include pt-sans(700);
    position: absolute;
    top: 30px;
    left: 15px;
    color: $red;
    z-index: 1;
    padding: 0;
    height: 120px;
    text-shadow: rgba($black, 0.8) 2px 2px 4px;
    @include bp-small {
        @include font-size(26px);
        top: 10px;
    }
}

#search {
    padding-right: 15px;
    padding-left: 15px;
}

#filter {
    padding-top: 15px;
    padding-right: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $shark;
    z-index: 1;
    width: 100%;
}

.filters-mask {
    @include pt-sans(700);
    @include font-size(18px);
    cursor: pointer;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 75px;
}

button {
    @include font-size(16px);
    @include pt-sans(700);
    box-shadow: rgba($black, 0.8) 2px 2px 4px;
    border: none;
    padding: 0.25em 1em;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: $red;
    cursor: pointer;
    transition: background-color .1s ease-in, color .15s ease-in;
    border-radius: 2px;
    &:hover {
        background-color: darken($red, 3%);
        color: $white;
    }
}

#go {
    margin: .5em 0 0;
}

#drivers {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 93px;
    margin-top: 1rem;
    li {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: $red;
        padding: .25em;
        min-width: 150px;
        margin: 1px;
        transition: background-color .2s ease-in;
        cursor: pointer;
        position: relative;
        span {
            @include font-size(13px);
        }
        &:hover {
            background-color: darken($red, 3%);
            .flag {
                opacity: 0.25;
            }
        }
    }
    a {
        color: $white;
        font-weight: 700;
    }
}

.flag {
    transition: opacity .2s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    display: block;
    opacity: 0.15;
}
